<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="autorepeat_rate" value="30" />
  </node>

  <node pkg="turtlejoy" type="roscpp_node" name="turtlejoy_node"/>

  <param name="robot_frame" value="bubbleRob"/>
  <param name="odometry_frame" value="world"/>
  <node name="operator" pkg="nav2d_operator" type="operator" output="screen">
    <remap from="cmd_vel" to="/vrep/twistCommand"/>
    <rosparam file="$(find floor_plane_deep)/param/operator.yaml"/>
    <rosparam file="$(find floor_plane_deep)/param/costmap.yaml" ns="local_map"/>
  </node>

  <node pkg="floor_plane_deep" type="floor_plane_classifier" name="floor_plane_classifier" output="screen">
    launch-prefix="xterm -e gdb --args"
    <param name="deploy_file" value="$(find floor_plane_deep)/models/deploy.prototxt" />
    <param name="model_file" value="$(find floor_plane_deep)/scripts/caffenet_train_iter_300.caffemodel" />
    <param name="mean_file" value="$(find floor_plane_deep)/scripts/floorplane_train_lmdb/imagenet_mean.binaryproto" />
    <param name="thumb_size" value="32" />

    <remap from="/floor_plane_classifier/image" to="/vrep/visionSensor"/>
  </node>
</launch>
